body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

$primary: #fe27b5;
$grey: #333;
$light-grey: #f3f3f3;

// Material Colors
$material-87: rgba(0, 0, 0, 0.87);
$material-68: rgba(0, 0, 0, 0.68);
$material-54: rgba(0, 0, 0, 0.54);
$material-38: rgba(0, 0, 0, 0.38);
$material-34: rgba(0, 0, 0, 0.34);
$material-24: rgba(0, 0, 0, 0.24);
$material-12: rgba(0, 0, 0, 0.12);
$material-08: rgba(0, 0, 0, 0.08);
$material-04: rgba(0, 0, 0, 0.04);
